#nav{
    background-color: #494d4e;
    height: 50px;
    width: 100%;
}
.logo-home{
    width: 200%;
    padding-top: 0px;
    margin-left: 0px;
}
.nav-item-date-time{
    color: #ffff;
    margin-top: 10px;
    padding-left: 130px;
}
.btn-logout{
    width: 110px;
    margin-top: 10px;
    background-color: #3e95e2;
    border-radius: 4px;
    border: 1px solid #d5dae0;
    color: #ffff;
}
/* #dropdown-basic{
    background-color: #3e95e2;
    
} */
.setting-box{
    width: 350px;
    height: 160px;
}
.setting-box-theme{
    background-color: #d5dae0;
    width: 320px;
    height: 70px;
    border-radius: 5px;
    margin-left: 15px;
}
.setting-box-language{
    background-color: #d5dae0;
    width: 320px;
    height: 85px;
    margin-top: 8px;
    border-radius: 5px;
    margin-left: 15px;
}
#flagVn, #flagUs{
    width: 30%;
    height: auto;
    margin-top: 0px;
    margin-left: 10px;
}
.row{
    padding-top: 10px;
}
.moving-header{
    width: 85%;
    float: right;
    margin-top: 10px;
}
.marquee-header{
    color: #fff;
}

.marquee-item{
    font-size: 1rem;
    color: #fff;
}

.marquee-item:nth-child(2n+0){
    margin-right: 50px;

}

.marquee-item:nth-child(2n+1){
    color: #ffd622;
}
#switchtheme, #lang{
    margin-left: 20px;
}
