
.hight-light-green {
    color: #ffff !important;
    background: green;
}
.hight-light-red {
    color: #ffff !important;
    background: red;
}
.hight-light-yellow {
    color: #ffff !important;
    background: #d4b001;
}
.hight-light-purple {
    color: #ffff !important;
    background: #c92b9f;
}
.hight-light-blue {
    color: #ffff !important;
    background: #1eeeee;
}

.green-color {
    color: #1ac316;
}
.red-color {
    color: #f53e3e;
}
.yellow-color {
    color: #d4b001;
}
.purple-color {
    color: #ff25ff;
}
.blue-color {
    color: #00c5c5;
}



@keyframes green-background-fade {
  50% {
    background: rgba(98, 173, 98, 0.3);
  }
  100% {
    background: transparent;
  }
}

@keyframes red-background-fade {
  50% {
    background: rgb(211, 146, 146);
  }
  100% {
    background: transparent;
  }
}
@keyframes yellow-background-fade {
    50% {
      background: rgba(194, 196, 81, 0.3);
    }
    100% {
      background: transparent;
    }
}
@keyframes violet-background-fade {
    50% {
      background: rgba(182, 46, 152, 0.3);
    }
    100% {
      background: transparent;
    }
}
@keyframes blue-background-fade {
    50% {
      background: rgba(48, 63, 198, 0.3);
    }
    100% {
      background: transparent;
    }
}

.green {
  color: green;

}
.red {
  color: red;
}
.yellow{
    color: #f3c117;
}
.violet{
    color: #eb34ba;
}
.blue{
    color: #14a4c7;
}

.Highlight-green{
    color: green;
    animation: green-background-fade 1s forwards;  
}
.Highlight-red{
    color: red;
    animation: red-background-fade 1s forwards;  
}
.Highlight-yellow{
    color: #f3c117;
    animation: yellow-background-fade 1s forwards;  
}
.Highlight-violet{
    color: #eb34ba;
    animation: violet-background-fade 1s forwards;  
}
.Highlight-blue{
    color: #14a4c7;
    animation: blue-background-fade 1s forwards;  
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position: fixed;
    background: #3b3b3b;
    width: 50%;
    height: 28%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

  }
.display-block {
    display: block !important;
}
  
.display-none {
    display: none;
}
.name-popup{
    color: #ffff;
    font-size: 15px;
    // margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    top: 0;
    border-radius: 10px 10px 0 0;
    border-color: #ffff;
    background-color: #2b2b2b;
}
#btn-close{
    // margin-bottom: 10px;
    width: 60px;
    height: 30px;
    background-color: #14a4c7;
    font-size: 13px;
    margin-top: 20px;
}
.table-popup{
    width: 60% !important;
    margin-left: 100px;
}




.dark-table{
    margin-top: 125px;
    // margin-top: 235px;

    table {
        width: 100%;
        /* margin-top: 10px; */
        font-size : 13px;
        background-color: black;
        top: 0;
        width: 100%;
        text-align: center;
        background-color: black;
        font-weight: 500;
        font-size: .7rem;
        // font-weight: bolder;
        border: 1px solid #333333;
        border-collapse: collapse;
        color: #fff;

        th, td {
            border: 1px solid #333333;
            border-collapse: collapse;
            text-align: center;
            height: 30px;
            
        }
        .table-header{
            position: sticky;     
            top: 125px;
            background-color: #2b2b2b;
            color: #fff;
            z-index: 1;
        }
        tbody tr:hover{
            background-color: #333030 !important;
        }
        tbody tr:nth-child(odd){
            background-color:#080808;
        }
        tbody tr:nth-child(even){
            background-color:#1b1a1a;
        }
        .col-ref{
            color: #f3c117;
            background-color: rgb(48, 47, 47);
        }
        .col-ceil{
            color: #c92b9f;
            background-color: rgb(48, 47, 47);
        }
        .col-floor{
            color: #1eeeee;
            background-color: rgb(48, 47, 47);
        }
        // #khoplenh{
        //     background-color: rgb(48, 47, 47);

        // }
    }
}
.light-table{
    margin-top: 125px;
    table {
        width: 100%;
        /* margin-top: 10px; */
        font-size : 13px;
        background-color: #ffffff;
        top: 0;
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: .7rem;
        border: 1px solid #333333;
        border-collapse: collapse;

        th, td {
            border: 1px solid #333333;
            border-collapse: collapse;
            text-align: center;
            height: 30px;
            
        }
        .table-header{
            position: sticky;     
            top: 125px;
            background-color: #e5e8e9;
            color: rgb(14, 12, 12);
        }
        tbody tr:hover{
            background-color: #b1aeae !important;
        }
        tbody tr:nth-child(odd){
            background-color:#ffffff;
        }
        tbody tr:nth-child(even){
            background-color:#efeded;
        }
        .col-ref{
            color: #f3c117;
            background-color: rgb(237, 235, 235);
        }
        .col-ceil{
            color: #c92b9f;
            background-color: rgb(237, 235, 235);
        }
        .col-floor{
            color: #14a4c7;
            background-color: rgb(237, 235, 235);
        }
        // #khoplenh{
        //     background-color: rgb(48, 47, 47);

        // }
    }
}

.slide{
    animation: SlideDown ease-out 17s;
}

.stop{
    animation: none;
}

@keyframes SlideDown {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-1000px)
    }
    
}

