
.dark-table{
    margin-top: 126px;
    table {
        width: 100%;
        /* margin-top: 10px; */
        font-size : 13px;
        background-color: black;
        top: 0;
        width: 100%;
        text-align: center;
        background-color: black;
        font-weight: 300;
        font-size: .7rem;
        border: 1px solid #333333;
        border-collapse: collapse;

        th, td {
            border: 1px solid #333333;
            border-collapse: collapse;
            text-align: center;
        }
        th{
            height: 30px;
        }
        .table-header{
            position: sticky;     
            top: 125.4px;
            background-color: #2b2b2b;
            color: #fff;
        }
    }
}
.light-table{
    margin-top: 126px;
    table {
        width: 100%;
        /* margin-top: 10px; */
        font-size : 13px;
        background-color: #ffffff;
        top: 0;
        width: 100%;
        text-align: center;
        // background-color: black;
        font-weight: 300;
        font-size: .7rem;
        border: 1px solid #333333;
        border-collapse: collapse;

        th, td {
            border: 1px solid #333333;
            border-collapse: collapse;
            text-align: center;
        }
        th{
            height: 30px;
        }
        .table-header{
            position: sticky;     
            top: 125.4px;
            background-color: #e5e8e9;
            color: rgb(14, 12, 12);
        }
    }

}
.col-ref{
    color: #f3c117;
    // background-color: #ffff;
}
.col-ceil{
    color: #c92b9f;
}
.col-floor{
    color: #1eeeee;
}






// .symbol{
//     width: 4%;
// }
// .ref {
    
// }
// .ceil{

// }
// .floor{

// }
// .bid, .ask{
//     width: 18%;
// }
// .matched{
//     width: 15%;
// }
// .remain{
//     width: 7%;
// }
